# Importing Required Libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.pipeline import Pipeline
from tkinter import *
from sklearn import *
import joblib

# Reading the csv file and giving each col heading:

In [3]:
col_names = ['Pregnant', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']
data = pd.read_csv(r"C:\Data\Amity\NTCC Sem 5\DiabetesDetectionUsingDecisionTrees\pima-indians-diabetes.csv",header = None, names = col_names)

# display top 5 rows of the dataset:

In [4]:
data.head()

,Pregnant,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

# Display last 5 rows of the dataset:

In [5]:
data.tail()

,Pregnant,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

# Find shape of our dataset:

In [6]:
print("Number of rows in dataset:", data.shape[0])
print("Number of cols in dataset:", data.shape[1])

Number of rows in dataset: 768
Number of cols in dataset: 9

# Get info about our dataset like total rows, columns, datatypes of each col and memory requirement:

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnant                  768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

# Check null values :

In [12]:
data.isnull()

,Pregnant,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [14]:
data.isnull().sum()

Pregnant                    0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# Get overall stats of the dataset:

In [16]:
data.describe()

,Pregnant,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

# Creating a copy of the dataset to remove the zero val from the dataset:

In [17]:
data_copy = data.copy(deep = True)
data.columns

Index(['Pregnant', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

# Replacing 0 values to np.nan

In [19]:
data_copy[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0,np.nan)
data_copy.isnull().sum()

Pregnant                    0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# Changing the np.nan values to mean of the col:

In [20]:
data['Glucose'] = data['Glucose'].replace(0,data['Glucose'].mean())
data['BloodPressure'] = data['BloodPressure'].replace(0,data['BloodPressure'].mean())
data['SkinThickness'] = data['SkinThickness'].replace(0,data['SkinThickness'].mean())
data['Insulin'] = data['Insulin'].replace(0,data['Insulin'].mean())
data['BMI'] = data['BMI'].replace(0,data['BMI'].mean())

In [21]:
feature_col = ['Pregnant', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']

# Store Feature Matrix in X and Response(Target) in Vector y

In [22]:
X = data[feature_col]
y = data.Outcome

# Splitting the datatset into the training set and the test set:

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

# Scikit-Learn Pipeline (Machine Learning Pipeline)

1. using logistic regression

In [27]:
pipeline_lr = Pipeline([('scalar1', StandardScaler()), ('lr_classifier', LogisticRegression())])

2. for kneighbors

In [30]:
pipeline_knn = Pipeline([('scalar2', StandardScaler()), ('knn_classifier', KNeighborsClassifier())])

3. svc

In [31]:
pipeline_svc = Pipeline([('scalar3', StandardScaler()), ('svc_classifier', SVC())])

4.decisionTress

In [32]:
pipeline_dt = Pipeline([('dt_classifier', DecisionTreeClassifier(criterion='entropy',max_depth = 3))])

5.RandomForestClassifier

In [33]:
pipeline_rf = Pipeline([('rf_classifier', RandomForestClassifier())])

6.GradientBoostingClassifier

In [34]:
pipeline_gbc = Pipeline([('gbc_classifier', GradientBoostingClassifier())])

# Training our pipelines:

In [35]:
pipelines = [pipeline_lr,
             pipeline_knn,
             pipeline_svc ,
             pipeline_dt,
             pipeline_rf,
             pipeline_gbc ]

In [36]:
for pipe in pipelines:
    pipe.fit(X_train,y_train)

# See the accuracy of the models:

In [37]:
pipe_dict = {0:'LR',
             1:'KNN',
             2:'SVC',
             3:'DT',
             4:'RF',
             5:'GBC'}

In [38]:
for i,model in enumerate(pipelines):
    print("{} Test Accuracy:{}".format(pipe_dict[i],model.score(X_test,y_test)*100))

LR Test Accuracy:76.62337662337663
KNN Test Accuracy:76.62337662337663
SVC Test Accuracy:73.37662337662337
DT Test Accuracy:77.27272727272727
RF Test Accuracy:75.32467532467533
GBC Test Accuracy:75.32467532467533

# Using decison tree classifier:

In [39]:
X = data[feature_col]
y = data.Outcome
dt = DecisionTreeClassifier(max_depth = 3)
dt.fit(X,y)

DecisionTreeClassifier(max_depth=3)

# Prediction on new data:

In [40]:
new_data = pd.DataFrame({
    'Pregnant':6,
    'Glucose':148.0,
    'BloodPressure':72.0,
    'SkinThickness':35.0,
    'Insulin':79.799479,
    'BMI':33.6,
    'DiabetesPedigreeFunction':0.627,
    'Age':50},index = [0])

In [41]:
p = dt.predict(new_data)
if p[0]==0:
    print('Non - Diabetic')
else:
    print('Diabetic')

Diabetic

# Saving model using joblib

In [42]:
joblib.dump(dt,'model_joblib_diabetes')
model = joblib.load('model_joblib_diabetes')

# GUI

In [44]:
#Creating a function that is used as soon as the button is pressed.
def show_entry_fields():
    p1 = float(e1.get())
    p2 = float(e2.get())
    p3 = float(e3.get())
    p4 = float(e4.get())
    p5 = float(e5.get())
    p6 = float(e6.get())
    p7 = float(e7.get())
    p8 = float(e8.get())

    model = joblib.load('model_joblib_diabetes')
    result = model.predict([[p1,p2,p3,p4,p5,p6,p7,p8]])

    if result == 0:
        Label(master, text = "Non-Diabetic").grid(row  = 9,column =1)
    else:
        Label(master, text = "Diabetic").grid(row  = 9,column = 1)
        
#GUI PART
master = Tk()

#Creating a Header
master.title("Diabetes Prediction Using Machine Learning")

#Creating Various Labels
label = Label(master, text = "Diabetes Prediction Using Machine Learning" , 
              bg = "black", fg = "white").grid(row  = 0,columnspan = 2)
Label(master, text = "Pregnant").grid(row  = 1)
Label(master, text = "Glucose").grid(row  = 2)
Label(master, text = "Enter value of BloodPressure").grid(row  = 3)
Label(master, text = "Enter value of SkinThickness").grid(row  = 4)
Label(master, text = "Enter value of Insulin").grid(row  = 5)
Label(master, text = "Enter value of BMI").grid(row  = 6)
Label(master, text = "Enter value of DiabetesPedigreeFunction").grid(row  = 7)
Label(master, text = "Enter value of Age").grid(row  = 8)

#Creating textline
e1 = Entry(master)
e2 = Entry(master)
e3 = Entry(master)
e4 = Entry(master)
e5 = Entry(master)
e6 = Entry(master)
e7 = Entry(master)
e8 = Entry(master)

e1.grid(row = 1, column = 1)
e2.grid(row = 2, column = 1)
e3.grid(row = 3, column = 1)
e4.grid(row = 4, column = 1)
e5.grid(row = 5, column = 1)
e6.grid(row = 6, column = 1)
e7.grid(row = 7, column = 1)
e8.grid(row = 8, column = 1)

#Creating a Button and assigning it to thhe function
b = Button (master, text = 'Predict', command = show_entry_fields).grid(row = 9, columnspan = 1)

master.mainloop()